nav {
    background-image: url("/img/GameBanner.jpg")
}

nav ul li a {
    background: #000000;
}

.profile {
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 10px #000000;
}

/* #home {
    padding: 0px 0px 20px 0px;
} */